<div id="nav">
  <ul>
    
      <li><a href="/student/reports/64">Reports</a></li>
    

    
      <li><a href="/student/guardians/64">Guardians</a></li>
    
    
      
      
        <li><a href="/student/email/64">Send Email</a></li>
      
    
    
      <li><a href="/student/remove/64">Delete</a></li>
    
    <li>
      <a href="#" class="drops" id="link_one">More &#9660;</a>
      <ul id="box_one" class="scriptaculously" style="display:none;">
        
          <li><a href="/student/fees/64">Fees</a></li>
        
        
      </ul>
    </li>
  </ul>
</div>