<div id="content_wrapper" >
  <div id="side_bar">

    <div id="sidebar_news_area">
      
    </div>
  </div>
  <div id="content">
  <div id="content-header">
    <img alt="Admission_page_logo" src="/images/admission/admission_page_logo.jpg" />
    <h1>Edit Details</h1>
    <h3>Step 1 - Student details</h3>
    <div id="app-back-button">
      <a href="#" onclick="history.back(); return false;"><img alt="Back" border="0" src="/images/buttons/back.png" /></a>
    </div>
  </div>
<%= render 'form' %>